/* ---DEFAULT STYLES--- */
* {
  margin: 0;
  padding: 0;
}

/* ---HEADER--- */
.header-nav {
  justify-content: space-between;
}
.cat-logo {
  padding-left: 1rem;
  width: 10rem;
}

/* ---FOOTER--- */
.footer-nav {
  bottom: 0;
  display: flex;
  justify-content: space-around;
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
}

/* ---HOME--- */
.banner-section {
  background-color: #ffe3d4;
  font-family: 'Lobster', cursive;
  font-family: 'Open Sans', sans-serif;
  margin-top: 3rem;
  padding: 9rem;
  text-align: center;
  width: 100%;
}

/* ---NAV LINKS--- */
.nav-link {
  color: #ff0080 !important;
}
.nav-link:hover {
  color: #000 !important;
}
